.card01 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;

  }

  .price123{
        display: flex;
        @media #{$large-mobile, $small-mobile}{
            display:grid;
        }
    }


  .card-image01 {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
   
  
  .card-text01 {
    grid-area: text;
    margin: 25px;
  }
  .card-text01 .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text01 p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text01 h2 {
    margin-top:0px;
    font-size:28px;
  }

  .card-stats01 {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
  }

  .card-stats01 .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
  }

  .card01:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }